.Input {
  width: 100%;
  margin: 1rem auto 1rem auto;
  padding: 0 2rem 0 2rem;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
}

.Input label {
  color: #ffbd67;
  font-family: 'WizardWorld';
  font-size: 24px;
  margin-bottom: 10px;
}

.Input input,
.Input select {
  height: 25px;
  font-family: 'HappyP';
}

.Input textarea {
  height: 80px;
}
