.Article {
  background-image: url(../../../assets//images/page-ver.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 430px;
  height: 600px;
  top: 120px;
  left: 25%;
  position: fixed;
  z-index: 500;
}

.Article h1 {
  margin: 70px auto 10px auto;
  width: 400px;
  text-align: center;
}

.Article p {
  width: 350px;
  height: 300px;
  margin: 0 auto;
}

.Article h6 {
  text-align: center;
  margin: 0;
  font-family: 'MagicSchool';
  font-size: 24px;
}
