.MatchForm {
  width: 600px;
  margin: 20px 0 0 100px;
  display: flex;
  flex-flow: column;
}

.MatchForm h1 {
  text-align: center;
  font-family: 'HarryP';
  font-size: 48px;
}

.MatchForm div {
  margin: auto;
}

.MatchForm section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
